.container {
    
}   

.top {
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.rest {
    height: 80vh;
    overflow-x: scroll;

}
.train {
    display: flex;
    justify-content: space-between; 
    border: solid 8px;
    margin : 8px 0;
    font-size: large;
    padding: 16px;

}
